<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html;">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="name" type=""*/-->
<div>Hello, user</div>
<a href="/main">Main page</a>
</body>
</html>