<html lang="en">
<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Write message">
        <input type="text" name="tag" placeholder="Write tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Submit</button>
    </form>
    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Filter</button>
    </form>

    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}
</div>
</body>
</html>